<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog do Node</h1>
  <p class="lead">Este é um BLOG simples, desenvolvido com Node.JS + Express + MongoDB</p>
  <hr class="my-4">
  <p>Aqui você pode ler sobre as novidades do mundo da computação.</p>
  <a class="btn btn-primary btn-lg text-light" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h2 class="mt-3"><strong>Postagens recentes:</strong></h2>

{{#each posts}}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>{{title}}</h3>
                    <p>Descrição: {{description}}</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small><strong>Categoria:</strong> {{category.name}}</small><br>
                    <small><strong>Data de publicação:</strong> {{date}}</small>
                </div>
                <div class="col">
                    <a href="/postagem/{{slug}}"><button class="btn btn-success float-right">Ler mais</button></a>
                </div>    
            </div>
        </div>
    </div>
{{else}}
    <h5>Não há postagens!</h5>
{{/each}}
